a {
    color:#00e676;
}

.btn {
    display: none;
    padding: 15px;
}

.card-panel {
    margin: 0 0 1rem 0;
}

body {
    background-color: #eceff1;

}
h1 {
    margin-top: 0px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

i {
    color: #00e676;
}

img {
    width: 200px;
    
}


.spotifyText {
    color: #00e676;
}

.titleRow {
    font: 50px bold Times new roman;
    border-radius: 5px;
}
